{% extends "base" %}
{% block main %}
<div class="content container">
    {% set _content = content() -%}
    {% if _content -%}
        <h1>{{ Page.Title }}</h1>
        {{ content() }}
    {% endif -%}
  <div class="posts">
    {% set paginator = paginate(selectPages(), size=5) %}
    {% for page in paginator.Items -%}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ page.Permalink }}">{% if page.Draft -%}DRAFT - {% endif -%}{{ page.Title }}</a>
      </h1>
      <span class="post-date">{{ dateformat(page.Date, "%h %-d, %Y") }}{% if Site.Params.ReadingTime -%} &middot; {{ page.ReadingTime }} minute read{% endif -%}{% if Site.Params.DisqusShortname -%} &middot; <a href="{{ page.Permalink }}#disqus_thread">Comments</a>{% endif -%}

      {% if page.Category -%}
      <br/>
      Category:&nbsp;
      <a class="label" href="{{ categoryUrlFor(page.Category) }}">{{ page.Category }}</a>
      {% endif %}

      {% if page.Tags -%}
      <br/>
      Tags:&nbsp;
      {% for tag in page.Tags -%}<a class="label" href="{{ tagUrlFor(tag) }}">{{ tag }}</a>{% endfor -%}
      {% endif -%}</span>

      {% if Site.Params.dontTruncate -%}
        {{ page.content() }}
      {% else -%}
        {% if page.Description -%}
        <p><em>{{ page.Description }}</em></p>
        {% endif -%}
        {% set _summary = page.summary() %}
        <p>{{ _summary.Html }}</p>
        {% if _summary.Truncated -%}<a href="{{ page.Permalink }}">Read On &rarr;</a>{% endif -%}
      {% endif -%}
    </div>
    {% endfor -%}
    {# 'pagination.html' will use the variables from paginator object #}
    {# {% include "pagination" %} #}
  </div>
</div>

{% if Site.DisqusShortname -%}
<script type="text/javascript">
var disqus_shortname = {{ Site.DisqusShortname }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endif %}
{% endblock %}
